footer{
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    li{
        list-style: none;
        gap: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s ease-in-out;
        :hover{
            cursor: pointer;
            margin-bottom: 3px;
            transition: 0.3s ease-in-out;
        }
    }
}