div{
    height: 77vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    h2{
        font-family: Montserrat;
        margin-bottom: 1vh;
    }
}
.contact-short{
    font-family: Montserrat;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 1em;
}
iframe{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 5vh;
}