<div>
    <img src="/assets/images/contact-img.png">
    <h2>Contact</h2>
    <div class="contact-short">
        <p>contact&#64;mail.com</p><span>|</span><p>Tel: 123-456-7890</p>
    </div>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2978.6292381955527!2d44.80849287607582!3d41.706938971260996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404472da501df139%3A0x2b49abdc57e7caa6!2sCaucasus%20University!5e0!3m2!1sen!2sge!4v1712588503526!5m2!1sen!2sge" 
        width="600" height="375" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
