@font-face {
    font-family: Montserrat;
    src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: GreatVibes;
    src: url(/assets/fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: LeagueSpartan;
    src: url(/assets/fonts/LeagueSpartan-VariableFont_wght.ttf);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
