div{
    height: 77vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 2vh;
    overflow-y: scroll;
    h3{
        font-family: LeagueSpartan;
        font-size: 1.5em;
        margin-bottom: 2vh;
    }
    section{
        height: 99%;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 2em;
        img{
            width: auto;
            height: auto;
            max-width: 350px;
            max-height: 500px;
            object-fit: contain;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            transition: all .5s ease-in-out;
        }
        img:hover{
            cursor: pointer;
            transform: scale(1.03);
        }
    }
}
